<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/t.css' %}" />
    <title> Teacher's information </title>
</head>
<body>
    <h1>{{tch}}</h1>
    {% if tch %}
    <table>
        <tr>
            <th>id</th>
            <th>tid</th>
            <th>tname</th>
            <th>temail</th>
        </tr>
        {% for th in tch %}
        <tr>
            <td>{{th.id}}</td>
            <td>{{th.tid}}</td>
            <td>{{th.tname}}</td>
            <td>{{th.temail}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Empty db</h2>
    {% endif %}

</body>
</html>